# Directories.
build

# Eclipse specific files.
.cproject
.project
.pydevproject
.settings

# Python specific files.
*.pyc

# Test specific files.
test_details_*.xml

# Waf specific files.
.lock*
.waf*